body{
   background-image: url(image/2188666.jpg)
}

.seksyen1{
    padding: 10% 20% 10%;
    background-image: image-set(image/2188666.jpg);
}

image{
 text-align: center;
}

.sekyen1{
    background-image: url(image/fast\ online\ gaming\ topup\ only\ on\ GAMe\ top^.png);
    padding: 5% 2% 5%;
}
.tingkat1{
    text-align: center;
   
    padding: 5% 5% 5%;
}
.tingkat2{
    text-align: center;
}

.tingkat3{
    text-align: center;
}

li{
    text-align: center;
}

.footer{
    background-color: rgb(255, 6, 6);
    padding: 1%;
    text-align: center;
}

.media{
    color: black;
}
h1{
    text-align: center;
    color: rgb(255, 0, 0);
}

p{
    color: rgb(255, 0, 0);
}

h2{
    color: rgb(255, 0, 0);
}
i{
    color: yellow;
}

h5{
    color: rgb(255, 0, 0);
}